include setup.py

# C sources
include src/libvapash/internal.c
include src/libvapash/sha3.c
include src/libvapash/util.c
include src/python/core.c

# Headers
include src/libvapash/compiler.h
include src/libvapash/data_sizes.h
include src/libvapash/endian.h
include src/libvapash/vapash.h
include src/libvapash/fnv.h
include src/libvapash/internal.h
include src/libvapash/sha3.h
include src/libvapash/util.h
